#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary.
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/jqufStbvLd99bF539) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [53]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : 392.74172108576107,
                "Q2" : [['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]],
                "Q3" : ['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity'],
                "Q4" : [['Tundra 2WD', 2017, 5.7, 8.0, 'Automatic (S6)', 'Rear-Wheel Drive', 'Standard Pickup Trucks 2WD', 'Regular', 21.974, 13, 18, 15, 592.0, 2200], ['Tundra 4WD', 2017, 5.7, 8.0, 'Automatic (S6)', 'Part-time 4-Wheel Drive', 'Standard Pickup Trucks 4WD', 'Regular', 21.974, 13, 17, 15, 606.0, 2200], ['RAV4 LE/XLE', 2017, 2.5, 4.0, 'Automatic (S6)', 'Front-Wheel Drive', 'Small Sport Utility Vehicle 2WD', 'Regular', 12.677307692307696, 23, 30, 26, 338.0, 1300], ['RAV4 Limited AWD/SE AWD', 2017, 2.5, 4.0, 'Automatic (S6)', 'All-Wheel Drive', 'Small Sport Utility Vehicle 4WD', 'Regular', 13.73375, 22, 28, 24, 363.0, 1400], ['RAV4 Hybrid AWD', 2017, 2.5, 4.0, 'Auto(AV-S6)', 'All-Wheel Drive', 'Small Sport Utility Vehicle 4WD', 'Regular', 10.3003125, 34, 30, 32, 275.0, 1050], ['Yaris iA', 2017, 1.5, 4.0, 'Automatic (S6)', 'Front-Wheel Drive', 'Subcompact Cars', 'Regular', 9.417428571428571, 32, 40, 35, 249.0, 950], ['Land Cruiser Wagon 4WD', 2017, 5.7, 8.0, 'Automatic (S8)', '4-Wheel Drive', 'Standard Sport Utility Vehicle 4WD', 'Regular', 21.974, 13, 18, 15, 595.0, 2200], ['Prius Eco', 2017, 1.8, 4.0, 'Automatic (variable gear ratios)', 'Front-Wheel Drive', 'Midsize Cars', 'Regular', 5.885892857142856, 58, 53, 56, 158.0, 600], ['RAV4 AWD', 2017, 2.5, 4.0, 'Automatic (S6)', 'All-Wheel Drive', 'Small Sport Utility Vehicle 4WD', 'Regular', 13.1844, 22, 28, 25, 357.0, 1350]],
                "Q5" : [[1987.0, 26.0, 0.0], [1988.0, 25.0, -1.0], [1989.0, 25.0, 0.0], [1999.0, 24.0, -1.0], [2000.0, 24.0, 0.0], [2001.0, 24.0, 0.0], [2002.0, 24.0, 0.0], [2003.0, 24.0, 0.0], [2004.0, 24.0, 0.0], [2005.0, 24.0, 0.0], [2006.0, 24.0, 0.0], [2010.0, 25.0, 1.0], [2011.0, 26.0, 1.0], [2012.0, 26.0, 0.0], [2013.0, 26.0, 0.0], [2015.0, 30.0, 4.0], [2016.0, 30.0, 0.0], [2017.0, 29.0, -1.0]],
                "Q6" : [('Ford', (112.0, 129.0, 129.0, 129.0, 129.0)), ('Honda', (130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887)), ('Nissan', (249.0, 254.0, 254.5, 254.5, 254.5)), ('Toyota', (133.0, 133.0, 133.0, 133.0, 158.0)), ('Volkswagen', (200.0, 200.0, 200.0, 200.0, 261.025641025641))],
                "Q7" : [('[1984, 1989)', 19.0), ('[1989, 1994)', 18.0), ('[1994, 1999)', 19.0), ('[1999, 2004)', 19.0), ('[2004, 2009)', 19.0), ('[2009, 2014)', 21.0), ('[2014, 2019)', 22.0)]
}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [54]:
import pandas as pd
import numpy as np
import scipy.stats as stats
url = "https://storage.googleapis.com/deb-evaluation-materials/vehicles.csv"
df = pd.read_csv(url)

In [55]:
df.head(1000)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Audi,A8,1998,3.7,8.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,18.311667,15,24,18,493.722222,2250
996,Audi,A8,1998,4.2,8.0,Automatic 5-spd,4-Wheel or All-Wheel Drive,Midsize Cars,Premium,18.311667,15,23,18,493.722222,2250
997,Audi,A8,1999,3.7,8.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,18.311667,15,24,18,493.722222,2250
998,Audi,A8,2003,4.2,8.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,18.311667,15,23,18,493.722222,2250
999,Audi,A8,2005,4.2,8.0,Automatic (S6),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [57]:
########## Q1
#Your code here

VolksAvgEmmission = df[df['Make']== 'Volkswagen']['CO2 Emission Grams/Mile'].mean()
print(VolksAvgEmmission)

#Example answer:
#answer_dict["Q1"] =  11.547

392.74172108576107

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer:
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [58]:
########## Q2
#Your code here

CountModels = df.groupby('Make')['Model'].nunique().reset_index(name='Model_Count')
SortCount = CountModels.nlargest(5,'Model_Count')
FormatCount = SortCount[['Make', 'Model_Count']].values.tolist()
print(FormatCount)

#Example answer:
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

[['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]]

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer:
`['Regular',
 'Premium']`

In [59]:
########## Q3
#Your code here

FuelsDataTypes = sorted(df['Fuel Type'].unique())
print(FuelsDataTypes)

#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium']

['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer:
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [60]:
########## Q4
#Your code here

# Filter Toyota cars
ToyotaCars = df[df['Make'] == 'Toyota']

# Calculate the Z-Score for Fuel Barrels/Year
ToyotaCars['Z-score'] = stats.zscore(ToyotaCars['Fuel Barrels/Year'])

# Sort
SortedToyotaCars = ToyotaCars.reindex(ToyotaCars['Z-score'].abs().sort_values(ascending=False).index).sort_values(['Year'], ascending=False)

# Get the most 9 extreme Fuel Barrels/Year
Top_9 = SortedToyotaCars.head(9).drop(columns=['Make', 'Z-score'])

# Put the output in a list
result_list = Top_9.values.tolist()

# Print the list
print(result_list)

[['Tundra 2WD', 2017, 5.7, 8.0, 'Automatic (S6)', 'Rear-Wheel Drive', 'Standard Pickup Trucks 2WD', 'Regular', 21.974, 13, 18, 15, 592.0, 2200], ['Tundra 4WD', 2017, 5.7, 8.0, 'Automatic (S6)', 'Part-time 4-Wheel Drive', 'Standard Pickup Trucks 4WD', 'Regular', 21.974, 13, 17, 15, 606.0, 2200], ['RAV4 LE/XLE', 2017, 2.5, 4.0, 'Automatic (S6)', 'Front-Wheel Drive', 'Small Sport Utility Vehicle 2WD', 'Regular', 12.677307692307696, 23, 30, 26, 338.0, 1300], ['RAV4 Limited AWD/SE AWD', 2017, 2.5, 4.0, 'Automatic (S6)', 'All-Wheel Drive', 'Small Sport Utility Vehicle 4WD', 'Regular', 13.73375, 22, 28, 24, 363.0, 1400], ['RAV4 Hybrid AWD', 2017, 2.5, 4.0, 'Auto(AV-S6)', 'All-Wheel Drive', 'Small Sport Utility Vehicle 4WD', 'Regular', 10.3003125, 34, 30, 32, 275.0, 1050], ['Yaris iA', 2017, 1.5, 4.0, 'Automatic (S6)', 'Front-Wheel Drive', 'Subcompact Cars', 'Regular', 9.417428571428571, 32, 40, 35, 249.0, 950], ['Land Cruiser Wagon 4WD', 2017, 5.7, 8.0, 'Automatic (S8)', '4-Wheel Drive', 'Standard Sport Utility Vehicle 4WD', 'Regular', 21.974, 13, 18, 15, 595.0, 2200], ['Prius Eco', 2017, 1.8, 4.0, 'Automatic (variable gear ratios)', 'Front-Wheel Drive', 'Midsize Cars', 'Regular', 5.885892857142856, 58, 53, 56, 158.0, 600], ['RAV4 AWD', 2017, 2.5, 4.0, 'Automatic (S6)', 'All-Wheel Drive', 'Small Sport Utility Vehicle 4WD', 'Regular', 13.1844, 22, 28, 25, 357.0, 1350]]

<ipython-input-60-1a334b1b61dd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ToyotaCars['Z-score'] = stats.zscore(ToyotaCars['Fuel Barrels/Year'])

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [61]:
########## Q5
#Your code here

# Filter the df acccording to the requirements
Filtered_df = df[(df['Make'] == 'Volkswagen') &
                 (df['Model'] == 'Golf') &
                 (df['Transmission'] == 'Manual 5-spd') &
                 (df['Fuel Type'] == 'Regular')]
# Sort by year
Filtered_df = Filtered_df.sort_values(by='Year')

# Calculate the changes in Combined MPG with their previous model
Filtered_df['MPG Change'] = Filtered_df['Combined MPG'].diff()

# Drop the rows where 'MPG Change' is NaN (first row)
Filtered_df = Filtered_df.dropna(subset=['MPG Change'])

# Put the output in a list
OutputList = Filtered_df[['Year', 'Combined MPG', 'MPG Change']].values.tolist()

# Print the list
print(OutputList)

[[1987.0, 26.0, 0.0], [1988.0, 25.0, -1.0], [1989.0, 25.0, 0.0], [1999.0, 24.0, -1.0], [2000.0, 24.0, 0.0], [2001.0, 24.0, 0.0], [2002.0, 24.0, 0.0], [2003.0, 24.0, 0.0], [2004.0, 24.0, 0.0], [2005.0, 24.0, 0.0], [2006.0, 24.0, 0.0], [2010.0, 25.0, 1.0], [2011.0, 26.0, 1.0], [2012.0, 26.0, 0.0], [2013.0, 26.0, 0.0], [2015.0, 30.0, 4.0], [2016.0, 30.0, 0.0], [2017.0, 29.0, -1.0]]

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [62]:
########## Q6
#Your code here

# Filter the brand acccording to the requirements
BrandFilter = ['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']
Lowest_5_Cars = df[df['Make'].isin(BrandFilter)]

# Get the lowest 5 values of CO2 Emission Grams/Mile for each brand
Result = list(Lowest_5_Cars.groupby('Make')['CO2 Emission Grams/Mile'].apply(lambda x: tuple(x.nsmallest(5))).reset_index().to_records(index=False))

# Print the Result
print(Result)

[('Ford', (112.0, 129.0, 129.0, 129.0, 129.0)), ('Honda', (130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887)), ('Nissan', (249.0, 254.0, 254.5, 254.5, 254.5)), ('Toyota', (133.0, 133.0, 133.0, 133.0, 158.0)), ('Volkswagen', (200.0, 200.0, 200.0, 200.0, 261.025641025641))]

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [63]:
########## Q7
#Your code here

# Group the data by five-year intervals based on the 'Year' column
df['Year Group'] = pd.cut(df['Year'], bins=range(1984, 2023, 5), right=False)

# Get the median
median_by_five_years = df.groupby('Year Group')['Combined MPG'].median()

# Put the output in a list
result_list = [(str(interval), median) for interval, median in zip(median_by_five_years.index, median_by_five_years)]

# Print the list
print(result_list)

[('[1984, 1989)', 19.0), ('[1989, 1994)', 18.0), ('[1994, 1999)', 19.0), ('[1999, 2004)', 19.0), ('[2004, 2009)', 19.0), ('[2009, 2014)', 21.0), ('[2014, 2019)', 22.0)]

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [64]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... FAIL
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... FAIL
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ERROR
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... FAIL
test_Q6_dim (__main__.TestAnswers) ... <ipython-input-64-ea466fca2033>:53: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))
FAIL
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... FAIL
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

======================================================================
ERROR: test_Q5_types (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-64-ea466fca2033>", line 58, in test_Q5_types
    dtype3 = type(answer_dict['Q6'][0][2])
IndexError: tuple index out of range

======================================================================
FAIL: test_Q4_dim (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-64-ea466fca2033>", line 31, in test_Q4_dim
    self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))
AssertionError: Tuples differ: (9, 14) != (9, 3)

First differing element 1:
14
3

- (9, 14)
?     ^^

+ (9, 3)
?     ^


======================================================================
FAIL: test_Q5_dim (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-64-ea466fca2033>", line 40, in test_Q5_dim
    self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))
AssertionError: Tuples differ: (18, 3) != (19, 3)

First differing element 0:
18
19

- (18, 3)
?   ^

+ (19, 3)
?   ^


======================================================================
FAIL: test_Q6_check_first_and_last_brand (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-64-ea466fca2033>", line 68, in test_Q6_check_first_and_last_brand
    self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])
AssertionError: Lists differ: ['Ford', 'Volkswagen'] != ['Toyota', 'Honda']

First differing element 0:
'Ford'
'Toyota'

- ['Ford', 'Volkswagen']
+ ['Toyota', 'Honda']

======================================================================
FAIL: test_Q6_dim (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-64-ea466fca2033>", line 53, in test_Q6_dim
    self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))
AssertionError: Tuples differ: (5, 2) != (5, 6)

First differing element 1:
2
6

- (5, 2)
?     ^

+ (5, 6)
?     ^


======================================================================
FAIL: test_Q7_types (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-64-ea466fca2033>", line 76, in test_Q7_types
    self.assertEqual([dtype1, dtype2], [tuple, float])
AssertionError: Lists differ: [<class 'str'>, <class 'float'>] != [<class 'tuple'>, <class 'float'>]

First differing element 0:
<class 'str'>
<class 'tuple'>

- [<class 'str'>, <class 'float'>]
?          - ^

+ [<class 'tuple'>, <class 'float'>]
?           ^^^^


----------------------------------------------------------------------
Ran 16 tests in 0.054s

FAILED (failures=5, errors=1)

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/jqufStbvLd99bF539).

In [65]:
answer_dict

{'Q1': 392.74172108576107,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': [['Tundra 2WD',
   2017,
   5.7,
   8.0,
   'Automatic (S6)',
   'Rear-Wheel Drive',
   'Standard Pickup Trucks 2WD',
   'Regular',
   21.974,
   13,
   18,
   15,
   592.0,
   2200],
  ['Tundra 4WD',
   2017,
   5.7,
   8.0,
   'Automatic (S6)',
   'Part-time 4-Wheel Drive',
   'Standard Pickup Trucks 4WD',
   'Regular',
   21.974,
   13,
   17,
   15,
   606.0,
   2200],
  ['RAV4 LE/XLE',
   2017,
   2.5,
   4.0,
   'Automatic (S6)',
   'Front-Wheel Drive',
   'Small Sport Utility Vehicle 2WD',
   'Regular',
   12.677307692307696,
   23,
   30,
   26,
   338.0,
   1300],
  ['RAV4 Limited AWD/SE AWD',
   2017,
   2.5,
   4.0,
   'Automatic (S6)',
   'All-Wheel Drive',
   'Small Sport Utility Vehicle 4WD',
   'Regular',
   13.73375,
   22,
   28,
   24,
   363.0,
   1400],
  ['RAV4 Hybrid AWD',
   2017,
   2.5,
   4.0,
   'Auto(AV-S6)',
   'All-Wheel Drive',
   'Small Sport Utility Vehicle 4WD',
   'Regular',
   10.3003125,
   34,
   30,
   32,
   275.0,
   1050],
  ['Yaris iA',
   2017,
   1.5,
   4.0,
   'Automatic (S6)',
   'Front-Wheel Drive',
   'Subcompact Cars',
   'Regular',
   9.417428571428571,
   32,
   40,
   35,
   249.0,
   950],
  ['Land Cruiser Wagon 4WD',
   2017,
   5.7,
   8.0,
   'Automatic (S8)',
   '4-Wheel Drive',
   'Standard Sport Utility Vehicle 4WD',
   'Regular',
   21.974,
   13,
   18,
   15,
   595.0,
   2200],
  ['Prius Eco',
   2017,
   1.8,
   4.0,
   'Automatic (variable gear ratios)',
   'Front-Wheel Drive',
   'Midsize Cars',
   'Regular',
   5.885892857142856,
   58,
   53,
   56,
   158.0,
   600],
  ['RAV4 AWD',
   2017,
   2.5,
   4.0,
   'Automatic (S6)',
   'All-Wheel Drive',
   'Small Sport Utility Vehicle 4WD',
   'Regular',
   13.1844,
   22,
   28,
   25,
   357.0,
   1350]],
 'Q5': [[1987.0, 26.0, 0.0],
  [1988.0, 25.0, -1.0],
  [1989.0, 25.0, 0.0],
  [1999.0, 24.0, -1.0],
  [2000.0, 24.0, 0.0],
  [2001.0, 24.0, 0.0],
  [2002.0, 24.0, 0.0],
  [2003.0, 24.0, 0.0],
  [2004.0, 24.0, 0.0],
  [2005.0, 24.0, 0.0],
  [2006.0, 24.0, 0.0],
  [2010.0, 25.0, 1.0],
  [2011.0, 26.0, 1.0],
  [2012.0, 26.0, 0.0],
  [2013.0, 26.0, 0.0],
  [2015.0, 30.0, 4.0],
  [2016.0, 30.0, 0.0],
  [2017.0, 29.0, -1.0]],
 'Q6': [('Ford', (112.0, 129.0, 129.0, 129.0, 129.0)),
  ('Honda',
   (130.0,
    167.67924528301887,
    167.67924528301887,
    167.67924528301887,
    167.67924528301887)),
  ('Nissan', (249.0, 254.0, 254.5, 254.5, 254.5)),
  ('Toyota', (133.0, 133.0, 133.0, 133.0, 158.0)),
  ('Volkswagen', (200.0, 200.0, 200.0, 200.0, 261.025641025641))],
 'Q7': [('[1984, 1989)', 19.0),
  ('[1989, 1994)', 18.0),
  ('[1994, 1999)', 19.0),
  ('[1999, 2004)', 19.0),
  ('[2004, 2009)', 19.0),
  ('[2009, 2014)', 21.0),
  ('[2014, 2019)', 22.0)]}

In [71]:
import pickle

file_name = "FIRSTNAME_LASTNAME_answers.pkl"
path = "E:\Omar"

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)